*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.topArea{
    padding: 23px 6%;
    margin: 23px 11.9%;
    transition: 0.3s ease-out;
}

.title {
  margin-bottom: 1rem;
}


.topArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.title h1{
  color:#0a5a7e;
  font-size: 4rem;
  margin: 2rem 0;
  text-align: center;
  font-weight: 700;
}


.topArea p{
  margin: 0px auto;
    padding-top: 1.5px;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 21.9px;
    color: #05425d;
    font-weight: lighter;
}


hr{
display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    margin: 23px 203px;
}


@media (max-width: 768px) {
  .topArea {
    padding: 15px 5%; 
    margin: 15px 5%;
  }

  .title h1 {
    font-size: 3rem;
    margin: 1.5rem 0;
  }

  .topArea p {
    font-size: 18px;
  }
}


.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 33px;
  font-size: 23px;
}


.tab{
  display: flex;
  align-items: center;
 justify-content: center;
 gap: 4rem;
 margin: 1rem auto;
 flex-wrap: wrap;
}


.tab button{
    background-color: #fff;
    box-sizing: initial;
    cursor: pointer;
    font-size: 0.9rem;
    outline: none;
    padding: 0.5rem 1rem;
    position: relative;
    transition: 0.5s;
    /* width: 50%; */
    flex: 1 1 200px;
    max-width: 200px;
    display: flex;
  justify-content: center;
  border-color: #fff;
  border-style: none;
  font-size: 22px;

}

.tab .active{
  font-size: 1.6rem;
    font-weight:900;
    text-align:center;
    color: #00293A;
    /* margin: 1.5rem 0; */
    word-break:break-word;
}


.yearCollapsible {
  margin-bottom: 1rem;
}


.collapsible {
  background-color: #9bc4d5;
  color: white;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color: black;
}

.yearCollapsible button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
    height: 31px;
    width: 22vw;
    margin: 4px auto;
    border-radius: 23px;
    
  
}

.collapsible.active, .collapsible:hover {
  background-color: #002a3d;
  color: rgb(255, 255, 255);
}

.content {
  padding: 1rem;
  overflow: hidden;
  background-color: #ffffff;
  transition: max-height 0.3s ease-out;
}

.content.show {
  max-height: 10000px;
}

