.fade-in {
  animation: fadeIn 1.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.card {
  flex-basis: auto; 
  width: 199px; 
  height: 205px; 
  padding: 20px 15px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 20px 7px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 10px; 
}



.card:hover {
  box-shadow: 0 0px 10px 0 #028D93;
  transition: 0.35s ease-in-out;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 3px 113px;
}

.image {
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  transition: transform 0.4s;
}

.image:hover {
  transform: scale(1.1); 
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 16px;
  font-weight: 800;
  margin: 10px 0 5px;
}

.portfolio {
  font-size: 14px;
  color: #777;
}

.socialMedia {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.social-icon {
  width: 20px;
  height: 20px;
  transition: opacity 0.2s;
 
}

.social-icon:hover {
  width: 28px;
  height: 28px;
  transition: 0.35s ease-in;
}

@media (max-width: 768px) {
  .card {
    flex-basis: calc(40% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    flex-basis: calc(100% - 20px);
  }
}
